section{
    height: 100dvh;
}

.customBackGround{
    background: url("../assets/bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 5px dashed black;
}

.hero-heading{
    font-size: 4rem;
    position: relative;
}

.hero-heading:after{
    content: url("../assets/cord.svg");
    position: absolute;
    bottom: 0.55em;
}