section{
    height: 100dvh;
}

.customBackGround{
    background: url("../assets/bg-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 5px dashed black;
}

.hero-heading{
    font-size: 4rem;
    position: relative;
}

.hero-heading:after{
    content: url("../assets/cord.svg");
    position: absolute;
    bottom: 0.55em;
}

.blur{
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(64, 66, 69, 0.75);
    border-radius: 8px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}